In [1]:
import numpy as np
import pandas as pd

In [2]:
# Functions are very useful for transforming data:
# Let's say we want the highest scores for each teacher: 

teachers = [{"name": "om", "scores": [100, 200, 150]},
            {"name": "nandan", "scores": [10000, 9999, 99987 ]},
            {"name": "arapakis", "scores": [55, 100, 5]}]

In [3]:
teachers

[{'name': 'om', 'scores': [100, 200, 150]},
 {'name': 'nandan', 'scores': [10000, 9999, 99987]},
 {'name': 'arapakis', 'scores': [55, 100, 5]}]

In [10]:
for teacher in teachers:
    print( max(teacher['scores']))

200
99987
100

In [36]:
teachers[0]

{'name': 'om', 'scores': [100, 200, 150]}

In [51]:
def high_score(name):
    return (max(teacher['scores']))

In [52]:
high_score('arapakis')

100

In [53]:
def a_score(name):
    return(teachers['scores'])

In [79]:
def highest_score(person):
    max_score = 0
    for score in person['scores']:
        if score>max_score:
            max_score = score
    return person['name'], max_score


highest_score({"name": "om", "scores": [100, 200, 150]})

('om', 200)

In [80]:
def highest_score1(person):
    max_score=0
    
    for teacher in teachers: 
        print(teacher['name'])
highest_score1(teachers)

om
nandan
arapakis

In [55]:
teachers

[{'name': 'om', 'scores': [100, 200, 150]},
 {'name': 'nandan', 'scores': [10000, 9999, 99987]},
 {'name': 'arapakis', 'scores': [55, 100, 5]}]

In [69]:
def highest_score(person):
    max_score=0
    for score in person['scores']:
        if score> max_score:
            max_score= score
    return person['name'], max_score

In [70]:
highest_score({"name": "om", "scores": [100, 200, 150]})

('om', 200)

In [75]:
highest_score({"name": "nandan", "scores": [10000, 9999, 99987 ]})

('nandan', 99987)

In [82]:
class Robot():
    def __init__ (self, name, colour, weight):
        self.name = name
        self.colour = colour
        self.weight = weight

In [85]:
Robot('Shirley', 'Brown', '50')

# Classes

In [328]:
class Employee():
    def __init__(self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary
        self.email = first + '.' +last +'@email.com'
        
    def fullname(self):
        return self.first + ' ' + self.last
    
    def full_name(self):
        return '{} {}'.format(self.first, self.last)

In [329]:
ben = Employee('Ben', 'Ryves', '100')
shirley = Employee('Shirley', 'He', '110')

In [330]:
ben.email

'Ben.Ryves@email.com'

In [331]:
shirley.email

'Shirley.He@email.com'

In [332]:
shirley.fullname()
#we need parentheses here because it's a method now, not just an attribute
#if we left off the parentheses, it will print method, instead of the return value of the method

'Shirley He'

In [335]:
shirley.full_name()

'Shirley He'

In [336]:
ben.full_name

## Classes and Objects

In [121]:
class Robot():
    def introduce_self(self):
        print('my name is ' + self.name)
        print('my age is '+ self.age)

In [123]:
r1 = Robot()
r1.name = 'Shirley'
r1.age = "25"

r2 = Robot()
r2.name = 'Ben'
r2.age='25'

In [124]:
r1.introduce_self()

my name is Shirley
my age is 25

In [126]:
r2.introduce_self()

my name is Ben
my age is 25

## this isn't great.. we have to write so many times r1.name. r2.name

# In python we can create a constructor with the word init

In [142]:
class Robot():
    def __init__(self, name, age):
        self.name = name #this means, set that object to given name
        self.age = age
        
    def introduce_self(self): #we made one function
        print('my name is ' + self.name)
        print('my age is '+ self.age)

In [143]:
newr1 = Robot('Ben', '25')
newr2 = Robot('Shirley', '25')

In [144]:
newr1.introduce_self()

my name is Ben
my age is 25

In [145]:
newr2.introduce_self()

my name is Shirley
my age is 25

# new class

In [187]:
class Person():
    def __init__ (self, name, personality, isSitting):
        self.name = name
        self.personality = personality
        self.isSitting = isSitting
        
    def sit_down(self):
        self.isSitting = True
        return self.isSitting
    
    
    def stand_up(self):
        self.isSitting = False

In [188]:
person1 = Person('Shirley', 'happy', False)
person2 = Person('Ben', 'cute', True)

In [189]:
person1.sit_down()

True

# Another exercise in OOP
### cars

In [ ]:
tesla_model_s = Vehicle(4, 'electric', 5, 250)
tesla_model_s.make_noise() # VRUUUUUUUM

In [204]:
class Vehicle():
    def __init__(self, years, colour):
        self.years = years
        self.colour = colour
    def old(self):
        if self.years>5:
            print('old')
        else:
            print('not old')
            
    def pretty(self):
        if self.colour == 'red':
            print('pretty')
        else: 
            print('not pretty')

In [205]:
car1 = Vehicle(3, 'red')

In [206]:
car1.old()

not old

In [207]:
car1.pretty()

pretty

# Following Tutorial on Medium
## Public Instance Variables vs Private Instance Variables

In [219]:
class Person():
    def __init__(self, first_name, email):
        self.first_name = first_name
        self._email = email #this is how we define a non-public variable

In [232]:
tk = Person('TK', 'tk.email.com')
tk.first_name

'TK'

In [221]:
tk._email

'tk.email.com'

In [222]:
tk.email

AttributeError: 'Person' object has no attribute 'email'

### Here email is a non-public variable. 
### We can access and update it. 
### Non-public variables are just a convention and should be treated as a non-public part of the API.

In [233]:
class Person():
    def __init__ (self, first_name, email):
        self.first_name = first_name
        self._email= email
            
    def update_email(self, new_email):
        self._email = new_email
    
    def email(self):
        return self._email

In [235]:
tk = Person('TK', 'tk@mail.com')
tk._email()

TypeError: 'str' object is not callable

# Inheritance

In [254]:
class Car():
    def __init__ (self, number_of_wheels, seating_capacity, max_velocity):
        self.number_of_wheels = number_of_wheels
        self.seating_capacity = seating_capacity
        self.max_velocity = max_velocity

In [255]:
my_car = Car(4,5,250)

In [257]:
my_car.max_velocity

250

###  Once initiated, we can use all instance variables created. Nice.

### In Python, we apply a parent class to the child class as a parameter. An ElectricCar class can inherit from our Car class.

In [274]:
class ElectricCar(Car):
    def __init__ (self, number_of_wheels, seating_capacity, maximum_velocity):
        Car.__init__(self, number_of_wheels, seating_capacity, maximum_velocity)

In [275]:
my_electric_car = ElectricCar(1,2,600)

In [276]:
my_electric_car.number_of_wheels

1

In [277]:
my_electric_car.seating_capacity

2

In [278]:
my_electric_car.maximum_velocity

AttributeError: 'ElectricCar' object has no attribute 'maximum_velocity'

In [64]:
class students():
    def __init__(self, first, last, age, country, city):
        self.name = first
        self.age = age
        self.country = country
        self.full_name = first + ' ' + last
        self.city = city
    
    def is_old(self):
        if self.age > 20:
            print('old')
        else:
            print('not so bad')
            
    def location(self):
        return '{} : {}'.format(self.country, self.city)

In [65]:
shirlz = students('shirley', 'he', 25, 'england', 'london')

In [66]:
shirlz.full_name

'shirley he'

In [67]:
shirlz.is_old()

old

In [68]:
shirlz.location()

'england : london'

In [70]:
'{} {}'.format(shirlz.age, shirlz.city)

'25 london'

In [73]:
class UK_Students(students):
    def __init__(self,first, last, age, country, city ):
        students.__init__(self,first, last, age, country, city)

In [74]:
benjy = UK_Students('ben', 'ryves', 27, 'switzerland', 'zurich')

In [76]:
benjy.location()

'switzerland : zurich'

In [77]:
benjy.full_name

'ben ryves'

In [80]:
benjy.is_old()

old

# Another Example, practice

In [91]:
class Computer():
    def __init__ (self, price, brand, year):
        self.price = price
        self.brand = brand
        self.year = year
    
    def sale_price(self):
        return self.price/2

In [97]:
laptop1 = Computer(500, 'apple', 2017)

In [98]:
laptop1.price

500

In [99]:
laptop1.brand

'apple'

In [100]:
laptop1.sale_price()

250.0

In [107]:
class Online_Sales(Computer):
    def __init__(self, price, brand, year):
        Computer.__init__(self, price, brand, year)

In [110]:
laptop2 = Online_Sales(700, 'lenovo', 2019)

In [111]:
laptop2.price

700

In [112]:
laptop2.sale_price()

350.0